body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.cronometro-img {
    width: 200px;
}

.form {
    margin-top: 20px;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #87CEEB;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4682B4;
}

.radio-group {
    margin: 15px;
}

#errorMessage {
    color: red;
}

#resultTable, #conversionHistory {
    margin-top: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

thead {
    background-color: #87CEEB;
    color: white;
}

#toggleMode {
    text-align: right;
    margin-top: 10px;
}

/* Estilo modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode button {
    background-color: #666;
}

body.dark-mode table thead {
    background-color: #444;
}
